{%extends "base.html"%}
{%load static%} {#스태틱 파일 불러오기 #}

{% block title %}
    준서 블로그 Home
{% endblock title %}



{%block extrahead%}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{%endblock extrahead%}



{%block content%}
<img
src="{% static 'cat.jpeg' %}"
width = "100"
height = "100"
class="logo"
/>

<link rel="stylesheet" type="text/css" href=""/>
<h1>LIKELION 12 Blog Project</h1>
<a href="{%url 'new'%}">새 글 작성하기</a> 
<div class="list">

    {% for blog in page_obj %} 
    <a href="{%url 'detail' blog.id%}">
        <h2>{{blog.title}}</h2>
        <p>{{blog.summary}}</p>
        <p>{{blog.created_at}}</p>
    </a>
    {% endfor %}
</div>

<span>
    <div class="pagination1">
        {%if page_obj.has_previous%}
        <a href="?page=1">처음으로</a>
        <a href="?page={{page_obj.previous_page_number}}">이전</a>
        {%endif%}
    </div>
    <div class="pagination">
        <p>{{page_obj.number}}</p>
        <p> / </p>
        <p>{{page_obj.paginator.num_pages}}</p>
    </div>

    <div class="pagination1">
        {%if page_obj.has_next%}
        <a href="?page={{page_obj.next_page_number}}">다음</a>
        <a href="?page={{page_obj.paginator.num_pages}}">마지막으로</a>
        {%endif%}
    </div>
</span>
{%endblock content%}

